:root {
    --azul-claro: #71B8E3;
    --branco-principal: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: linear-gradient(var(--azul-claro), var(--branco-principal)) 
}

